@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap%27');

:root{
   --noir:#161616;
   --doré: #EDA35B;
   --gris-clair:#f5f5f5;
}
body{
margin:0;
padding:0;
font-family: 'Recursive', serif;
background-color:rgb(245, 244, 244) ;
overflow-x: hidden;

}

a{
   text-decoration: none;
}
.navbar{
   background-color: var(--gris-clair);
}
.navbar-brand img{
   height:5rem;
   width:auto;
}

.iconav{
   width:25px;
   text-decoration: none;
   color:rgb(29, 29, 29);

}


.badge{
   margin-left:-0.3rem;
   margin-top:-7px;
   position: absolute;
   
   font-size:0.9rem;
}

.nav-item .nav-link a .iconav:hover{
   color:var(--doré)!important;
}
.has-search .form-control {
   padding-left: 2.375rem;
}

.has-search .form-control-feedback {
   position: absolute;
   z-index: 2;
   display: block;
   width: 2.375rem;
   height: 2.375rem;
   line-height: 2.375rem;
   text-align: center;
   pointer-events: none;
   color: #aaa;
}


.banner{
   margin-top:1px;
   height: 640px;
   background-image: url('../image/accessoire.jpg') ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 
   background-attachment: fixed;
   
   }
.banner1{
   height: 100px;
   background-image: url('../image/ring3.jpg'); 
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 30px;
   background-position: center;
  
}

/*--------stle filtre----*/
.filter input [type="checkbox"]{
width:2rem;
   
}

.filter h6{
   color:var(--doré);
   font-weight: bold;
  
   
}
.form-check .form-check-label{
   font-size:16px !important;
   margin:5px 0px;
  
}



/*------------style newsletter------*/
button[type=submit].bs{
   text-align: center;
    padding: 8px 25px 5px 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color:transparent;
    border: 1px solid var(--doré);
}

button[type=submit].bs:hover{
   background-color:rgb(15, 15, 15)!important;
}
footer .bs i{
   color:var(--doré);
 
}
/*------------fin style newsletter------*/

.dropdown-toggle{
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px; 
   padding:7px 12px;
  background-color: white;
  color:var(--noir);
  border: 1px solid rgb(226, 225, 225);

}
.dropdown-toggle:hover{
   background-color:rgb(216, 212, 212);
}

.nav-item .nav-link a:hover{
   color:var(--doré);
}
.navbar-nav .nav-item .nav-link a img{
   color:black;
}
.navbar-nav .nav-item .nav-link a img:hover{
   color:var(--doré);
}

/*------------Style footer-------*/
footer .search-box{
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   border: 1px solid rgb(0, 0, 0);
   padding-left:2rem
}

footer hr{
   color:white;
}

.box{
   border:none;
   outline: none;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius:0px;
   border-bottom: 2.5px solid black!important;
   background-color: transparent;
  
}
.box:focus{
   border-bottom: 4px solid var(--doré); 
   
   
}
.box::placeholder{
   font-size:17px!important;
}

  /*---------card product-----------*/
  .product-grid{
   text-align: center;
   border-radius: 25px;
   border: 1px solid #e7e7e7;
   overflow: hidden;
   transition: all 0.4s ease-out;
   
}
.product-grid:hover{ box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1); }
.product-grid .product-image{ position: relative;}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 250px;
}
.product-grid .product-discount-label{
   color: #fff;
   background: #c23714;
   font-size: 19px;
   font-weight: 400;
   text-transform: uppercase;
   padding: 2px 8px;
   border-radius: 5px;
   position: absolute;
   top: 12px;
   left: 12px;
}
.product-grid .product-links{
   width: 145px;
   padding: 0;
   margin: 0;
   list-style: none;
   opacity: 0;
   transform: translateX(-50%) translateY(-50%);
   position: absolute;
   top: 65%;
   left: 50%;
   transition: all 0.6s ease 0s;
}
.product-grid:hover .product-links{
   opacity: 1;
   top: 50%;
}
.product-grid .product-links li{
   display: inline-block;
   margin: 0 2px;
}
.product-grid .product-links li a{
   color: #2c2c2c;
   background: #fff;
   font-size: 16px;
   line-height: 42px;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   display: block;
   position: relative;
   transition: all 0.4s ease-out 0s;
}
.product-grid .product-links li a:hover{
   color: #fff;
   background: black;
   box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
   content: attr(data-tip);
   color: #fff;
   background-color: #555;
   font-size: 12px;
   line-height: 18px;
   padding: 5px 10px;
   white-space: nowrap;
   display: none;
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   top: -40px;
   transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:after{
   content: '';
   height: 10px;
   width: 10px;
   padding: 0;
   transform: translateX(-50%) rotate(45deg);
   top: -18px;
   z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
   display: block;
}
.product-grid .product-content{
   padding: 12px 12px 15px;
   position: relative;
}
.product-grid .rating{
   padding: 0;
   margin: 0 0 8px;
   list-style: none;
}
.product-grid .rating li{
   color: var(--doré);
   font-size: 14px;
}
.product-grid .rating .far{ color: #808080; }
.product-grid .title{
   font-size: 18px;
   text-transform: uppercase;
   margin: 0 0 15px;
}
.product-grid .title a{
   color: #2c2c2c;
   transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: var(--doré); }
.product-grid .price{
   color: var(--doré);
   font-size: 20px;
   font-weight: 600;
   display: block;
   transition: all 0.4s ease-in-out;
}
.product-grid .price span{
   color: #999;
   font-weight: 500;
   text-decoration: line-through;
}
.product-grid:hover .price{ opacity: 0; }
.product-grid .add-to-cart{
   color: var(--doré);
   background-color: black;
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 40px;
   width: 140px;
   height: 40px;
   border-radius: 50px;
   opacity: 0;
   transform: translateX(-50%);
   position: absolute;
   bottom: 50px;
   left: 50%;
   transition: all .4s ease-out;
}
.product-grid .add-to-cart:hover{color:var(--doré);
  transform: scaleX(4rem);
   background-color: white;
border:2px solid var(--doré);}

.product-grid:hover .add-to-cart{
   opacity: 1;
   bottom: 8px;
}
@media screen and (max-width:1200px){
   .product-grid{ margin: 0 0 30px; }
}




/*-------------style footer--------*/
footer{
 margin-top:7rem!important; 
 background-color:black;
 margin:0px;
 color:white;
}

.footer{
   margin:0px;
   padding:3rem 2rem 1rem 2rem;
}
.logofooter{
   height:6.5rem;
   width:auto;

}

footer h5{
   color:var(--doré);
  
}
footer a{
   color:white;
}

footer a:hover{
   color:var(--doré);
}

/*-style social links ----------*/
.footer-social-link ul {
   list-style-type: none;}
 .footer-social-link li {
  

   display: inline-block; }
.footer-social-link a i {
   width: 30px;
   border-radius: 20%;
   text-align: center;
   line-height: 30px;
  
   margin-right: 10px;
   color: var(--doré);
   border: 1px solid var(--doré);

 }

 .footer-social-link a i.fa-facebook:hover{
   background-color: #2149a0;
   color:white;
 transform: translateY(-2px); }
.footer-social-link a i.fa-twitter:hover {
   background-color: #55ACEE; 
   color:white;

   transform: translateY(-2px);}
.footer-social-link a i.fa-google-plus:hover {
   background-color: #DD4B39; 
   color:white;

   transform: translateY(-2px);}
.footer-social-link a i.fa-linkedin:hover {
   background-color: #0976B4;
   color:white;

   transform: translateY(-2px); }
.footer-social-link a i.fa-instagram:hover {
   background-color: #B7242A; 
   color:white;

   transform: translateY(-2px);}


   /*-------panier---------*/

    .imgArticle{
   height:100px;
   width:auto;
   
   }
   .imgArticle{
      width:70px;
      height:70px;
   }

   #qty {
      display:inline;
      width: 3rem;
      
      }

    .finaliser{
       background-color:var(--doré);
    }  



    .panier{
       margin-top:50px!important;
       
      
    }
    .panier h3{
       color:var(--doré);
       
    }

    /* #inputnbr{
      width: 50px;
      margin-right: 5rem;
  
  } */
  .cart-item-image{
      margin-left: 0rem;
  }





.cart-price {
   width: 200px;
   font-size: 1.2em;
   color: #333;
   margin-left: 1rem;
}

.cart-quantity-input {
   height: 34px;
   width: 50px;
   border-radius: 5px;
   
   background-color: #eee;
   color: #333;
   padding: 0;
   text-align: center;
   font-size: 1.2em;
   margin-right: 25px;
}

.cart-item-title {
   color: #333;
   margin-left: .5em;
   font-size: 1.2em;
} 

.cart-item-image {
   width: 75px;
   height: auto;
   border-radius: 10px;
}




    /*----------style card sign in modal-----------*/
    .form-label-group {
      position: relative;
      margin-bottom: 0.7rem;
    }
    .form-label-group>input, .form-control{
      height: auto;
      border-bottom:2px solid black;
      border:none;
      outline: none;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius:0px;
      border-bottom: 3px solid black;
   
    } 

    .form-label-group>input, .form-control::placeholder{
       font-size:20px;
       
    }
    .card-title {
      font-weight: 300;
      font-size: 1.5rem;
      padding-bottom:1rem;
    }
    
    .card-signin .card-body {
      padding: 2rem;
    }


    body.dark-theme{
      background-color: var(--noir) ;
      padding:0;
      margin:0;
      box-sizing: border-box;
      color:white;
     
  }
  .dark{
     margin-left:2rem;
     width:30px;
  }

/*----------------style panier---*/
.product{
   width: 20px;
 }




  /*------------style bouton back to top---------*/
.back-to-top {
   z-index: 2; }
   .back-to-top .btn-dark {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     padding: 0;
     position: fixed;
     bottom: 40px;
     right: 20px;
     background: #2e2e2e;
     border-color: #2e2e2e;
     z-index: 999;
     transition: all 1s linear; }
     
     .back-to-top .btn-dark:hover {
       cursor: pointer;
       background: #5fad7d;
       transform: translateY(-15px );
     }




     @media only screen and (max-width: 360px) {
      .banner{
         height: 300px;
         background-size: cover;
      }
     
      .box::placeholder{
         font-size:10px;
      }
     
      body{
         font-size:15px;
      }
      h4{
         font-size:16px;
      }
      h5{
         font-size:14px;
      }
      h3{
         font-size:18px;
      }
      .form-check .form-check-label{
         font-size:10px;
      }
    }


    .img{
       width:100px;
       height:100px;
    }

 

    /*-----panier---*/
    .cart-column {
      display:inline-block;
      padding-left: 5rem;
      
  }
  


.cart-total{
   margin-left: 600px;
   margin-bottom:1rem;
}
/* .cart-item{
   width: 200px !important;
} */
.cart-column {
   display:inline-block;
   padding-left: 5rem;
   
}
.prix{

margin-left:10rem;
width:6rem;

}
.qte{
   padding-left: 6rem;
   width:3rem;
}
.section-header{
   padding-left: 5rem;
}

span.cart-item-title{
   width: 50px !important;
}

.cart-row{
   text-transform: capitalize;
}